body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

a,
button {
  cursor: pointer;
}

.body {
  --white: #fff;
  --green-100: #11ff00;
  --green-100-50: #11ff0080;
  --green-200: #0ed800;
  --green-400: #11b300;
  --green-700: #0b6800;
  --yellow-100: #fffb00;
  --yellow-100-50: #fffb0080;
  --yellow-200: #ffcb00;
  --yellow-400: #ff9b00;
  --red-100: #ff0000;
  --red-200: #d10000;
  --red-400: #a10000;
}